body {
  font-size: 2em;
  background-color: #E4D6A6;
}

/**************/
/* GAMEPLAY IMAGES START */
.img-fit {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.img1a {
  background-image: url('../img/img1a.jpg');
}
.img1b {
  background-image: url('../img/img1b.jpg');
}
.img2a {
  background-image: url('../img/img2a.jpg');
}
.img2b {
  background-image: url('../img/img2b.jpg');
}

/* END */
/**************/

#ui-bar {
  background-color: #A0BA68;
}
#game-stage {
  /*background-color: #449651;*/
}
#msg-box {
  font-family: cursive;
}
