body {
  font-size: 2em;
  background-color: #E4D6A6;
  position: relative;
}
span {
  margin-top: -3px;
  margin-right: -3px;
  margin-bottom: -4px;
  margin-left: -3px;
}
canvas {
  position: absolute;
}

/**************/
/* GAMEPLAY IMAGES START */
.img1a {
  background-image: url('../img/img1a.png');
}
.img1b {
  background-image: url('../img/img1b.png');
}
.img2a {
  background-image: url('../img/img2a.jpg');
}
.img2b {
  background-image: url('../img/img2b.jpg');
}
.img3a {
  background-image: url('../img/img3a.png');
}
.img3b {
  background-image: url('../img/img3b.png');
}
/* END */
/**************/

.tight-fit {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 400px;
  border: 1px black solid;
}
.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px dashed grey;
}
.pixel:hover {
  /*background-color: lightgrey;*/
}
.selected-circle {
  background-image: url('../img/circle3.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.wrong-cross {
  background-image: url('../img/wrong-cross.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Modifying Bootstrap */
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
.cursive-font {
  font-family: 'Niconne', cursive;
  font-size: 1.7em;
}
.monospace-font {
  font-family: 'Anonymous Pro', monospace;
}

#ui-bar {
  background-color: #A0BA68;
  padding-top: 1.5%;
}
#game-stage {
  /*background-color: #449651;*/
}
#countdown-timer {
  font-family: 'Anonymous Pro', monospace;
  display: inline-block;
  font-size: 20em;
  color: white;
  position: absolute;
  top: 25%;
  left: 45%;
}
#left-pane {
  position: relative;
}
