body {
  height: 100vh;
  font-size: 2em;
  /*background-color: #E4D6A6;*/
  /*background-image: url('../img/paper_texture.png');*/
  background: linear-gradient(to top, rgb(34, 78, 207), rgba(34, 78, 207, 0.5));
  position: relative;
}
canvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index to make canvas layer appear below span grids */
  z-index: 1;
}
h3.game-font {
  margin-top: 5px;
}
/**************/
/* GAMEPLAY IMAGES START */
.img1a {
  background-image: url('../img/img1a.png');
}
.img1b {
  background-image: url('../img/img1b.png');
}
.img2a {
  background-image: url('../img/img2a.jpg');
}
.img2b {
  background-image: url('../img/img2b.jpg');
}
.img3a {
  background-image: url('../img/img3a.png');
}
.img3b {
  background-image: url('../img/img3b.png');
}
.img4a {
  background-image: url('../img/img4a.png');
}
.img4b {
  background-image: url('../img/img4b.png');
}
.img5a {
  background-image: url('../img/img5a.png');
}
.img5b {
  background-image: url('../img/img5b.png');
}

/* END */
/**************/

.tight-fit {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 527px;
  width: 675px;
  border-radius: 0.5em;
  /*outline: 3px solid red;*/
  border: 2px black solid;
  box-shadow: inset 0 0 15px 2px black, 0 0 10px black;
}
.icon {
  max-width: 2.5em;
}
.centered {
  margin: 0 auto;
}

#dashboard.restrict-height {
  min-height: 30vh;
}

#images-area.restrict-height {
  min-height: 70vh;
}

.score-ui {
  border: 1px solid black;
  border-radius: 0.6em;
  padding: 0.3em 0.5em;
  margin-bottom: 1em;
  background: rgb(224, 58, 74);
  box-shadow: inset 0 0 15px 2px black, 0 0 5px black;
}
.score-ui.dark {
  background: rgb(100, 100, 100);
  color: white;
}

#highscore {
  color: yellow;
}


#game-stage {
  /*margin: 0 auto 0 1.2em;*/
  margin: 0 auto;
}
#countdown-timer {
  font-family: 'Questrial', sans-serif;
  display: inline-block;
  font-size: 20em;
  color: green;
  position: absolute;
  top: 25%;
  left: 41%;
  z-index: 1;
}
#left-pane {
  margin-right: 10px;
}
/*#right-pane {
  margin-left: 10px;
}*/
#msg-box {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url('../img/halftone.png');
  border-radius: 5px;
  border: 1px solid lightgrey;
}


/* ===== BOOTSTRAP ===== */
.row {
  padding-top: 7px;
}
.game-font {
  /*font-family: 'Questrial', sans-serif;*/
  /*font-family: 'Chela One', cursive;*/
  font-family: 'Chango', cursive;
}
.progress {
  height: 50px;
  border-radius: 0.6em;
  border: 2px solid black;
  box-shadow: inset 0 0 15px 2px black, 0 0 5px black;
}
#time-bar {
  border-radius: 0.6em;
  box-shadow: inset 0 0 15px black, 0 0 20px black;
}
